<header>
	<h1 class="logo center"><img src="assets/images/logo-chaordic.png" alt="Chaordic"></h1>
</header>

<main>
	<div class="conteudo">
		<div class="campos">
			<h1 class="center">Encurte seus links.</h1>
			<br>
			<p class="center">Links são longos. Encurte os links que você deseja compartilhar, <br> e acompanhe enquanto viajam através da internet.</p>
			<br>
			<br>
			<br>
			<div class="center">
				<form ng-submit="acionarBotao()">
					<input class="url-input inline" type="text" class="link" name="url" ng-model="url" placeholder="Cole sua URL aqui" required>	
					<button class="button inline" type="submit">{{acao}}</button>
				</form>		
			</div>
			
		</div>
	</div>
</main>

<section ng-init="listarLinks()">
	<h2>Top 5</h2>
	<div ng-repeat="link in links | orderBy: '-hits' | limitTo: 5">
		<p>{{link.shortUrl}}</p>
		<p>{{link.hits}}</p>
	</div>
</section>

<section>
	<h2>HITS</h2>	
	<h3>35.713.571</h3>
	<p>Clique em links</p>	
</section>

<footer>
	<p>chr.dc</p>
</footer>