<header>
	<h1 class="logo center"><img src="assets/images/logo-chaordic.png" alt="Chaordic"></h1>
</header>

<main>
	<div class="conteudo">
		<div class="campos">
			<h1 class="center">Encurte seus links.</h1><br>
			<p class="center texto">Links são longos. Encurte os links que você deseja compartilhar, e acompanhe enquanto viajam através da internet.</p><br>
			<div class="center formulario">
				<form ng-submit="acionarBotao()">
					<input class="url-input inline" type="text" class="link" name="url" ng-model="url" placeholder="Cole o seu link aqui" required><button class="clear inline" type="reset" ng-click="limpar()">&times</button>		
					<button class="button inline" type="submit">Encurtar</button>
				</form>		
			</div>
			
		</div>
	</div>
</main>

<section class="top5 center" ng-init="listarLinks()">
	<h2 class="center">Top 5</h2><br>
	<ul class="links-top5">
		<li ng-repeat="link in links | orderBy: '-hits' | limitTo: 5">
			<div class="item-top5">
				<p class="inline top-link" ng-click="cliqueLink(link)">{{link.shortUrl}}</p>
				<p class="inline"></p>
				<p class="inline top-hits">{{link.hits}}</p>
			</div>		
		</li>
	</ul>
	
</section>

<section class="hits center">	
	<div class="triangulo"></div>
	<div class="conteudo-hits">
		<h2>HITS</h2><br>
		<div class="caixa">
			<h2>{{hits}}</h2>	
		</div><br>
		<p>Clique em links</p>		
	</div>
</section>

<footer>
	<p class="inline ">{{myUrl}}</p>
	<ul class="inline icones-sociais">
		<li class="inline icone-social">
			<a href="https://twitter.com/chaordic"><img src="../assets/images/icon-twitter.png" alt="Twitter"></a>
		</li>
		<li class="inline icone-social">
			<a href="https://www.facebook.com/chaordic.com.br/"><img src="../assets/images/icon-facebook.png" alt="Facebook"></a>
		</li>
	</ul>
</footer>

<div class="toast"></div>