@cor-chaordic: #AA1423;
@cor-apoio: #777;
@cor-cinza: #EEE;
@cor-laranja: orange;
@fonte-regular: 1.1em;
@fonte-regular-desktop: 1.36em;
@toast-mobile-vertical: 0;
@toast-position-vertical: 2%;
@toast-position-horizontal: 2%;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
	margin: 0;
}

h1, h2, h3 {
	font-family: "Roboto Slab", serif;
	margin: 0;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 3.6em;
		font-weight: bold;
	}
}

h2 {
	color: @cor-chaordic;
	font-size: 2em;
	text-transform: uppercase;
}

p {
	font-family: "Roboto", sans-serif;
	margin: 0;
	font-size: @fonte-regular;
	color: @cor-apoio;
	font-weight: 300;
}

@media only screen and (min-width: 768px) {
	p {
		font-size: @fonte-regular-desktop;
	}
}

ul {
	margin: 0;
}

header {
	height: 50px;
}

main p {
	color: white;
}

footer p {
	color: @cor-chaordic;
}

.hide {
	display: none !important;
}

.no-clear {
	margin-left: 10px !important;
} 

.esmaecer {
	color: transparent !important;
	transition: color 0.5s;
}

.shortUrl {
	color: white !important;
	transition: color 0.5s;
}

.normalUrl {
	color: @cor-laranja !important;
}

.logo {
	line-height: 54px;
	font-size: 2em;
}

.center {
	text-align: center;
}

main {
	background: url('../assets/images/background-home.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	color: white;
}

.conteudo {
	margin: 0 auto;
	width: 80%;
}


.campos {
	padding: 75px 0;
}

@media only screen and (min-width: 768px) {
	.campos {
		padding-top: 210px;
		padding-bottom: 250px;
		margin: 0 auto;
		max-width: 640px;
	}
}

@media only screen and (min-width: 768px) {
	.formulario {
		margin-top: 35px;
	}
}

.button {
	width: 115px;
	height: 52px;
	font-family: "Roboto", sans-serif;
	font-size: medium;
	font-weight: 600;
	background-color: @cor-laranja;
	color: white;
	border: none;
	line-height: 36px;
	padding: 0;
	margin-top: 20px;
	margin-left: 10px;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}

@media (min-width: 572px) {
	.button {
		margin-left: 20px;
		margin-top: 0;
	}
}

@media (min-width: 767px) {
	.button {
		margin-left: 20px;
		margin-top: 0;
	}
}

.clear {
	height: 52px;
	margin-left: -20px;
	font-family: "Roboto", sans-serif;
	font-size: medium;
	font-weight: 600;
	background-color: transparent;
	color: white;
	border: none;
	display: inline-block;
	line-height: 36px;
	padding: 0;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}

.url-input {
	height: 36px;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid;
	border-color: @cor-laranja;
	border-radius: 0;
	color: @cor-laranja;
	display: block;
	font-size: @fonte-regular;
	line-height: 20px;
	padding: 8px 0 7px;
}

@media (min-width: 385px) {
	.url-input {
		min-width: 294px;
	}
}

@media (min-width: 428px) {
	.url-input {
		min-width: 325px;
	}
}

@media (min-width: 572px) {
	.url-input {
		min-width: 315px;
	}
}

@media (min-width: 767px) {
	.url-input {
		min-width: 410px;
	}
}

@media (min-width: 805px) {
	.url-input {
		min-width: 500px;
	}
}

::-webkit-input-placeholder  { 
	color: @cor-laranja; 
	font-size: @fonte-regular;
}
input:-moz-placeholder { 
	color: @cor-laranja; 
	font-size: @fonte-regular;
}
textarea:-moz-placeholder { 
	color: @cor-laranja; 
	font-size: @fonte-regular;
}

.inline {
	display: inline-block;
}

/* SECTION TOP5*/

.top5 {
	margin: 0 auto;
	width: 90%;
	padding: 42px 0 65px 0;
}

.links-top5 {
	padding: 0;
	list-style-type: none;
}

@media only screen and (min-width: 768px) {
	.top5 {
		width: 40%;
	}
}

.item-top5 {
	border: 0;
	border-bottom: 2px solid;
	border-color: @cor-cinza;
	padding: 15px 0 15px 0;
}

.top-link {
	float: left;
	color: @cor-chaordic;
	cursor: pointer;
}

.top-hits {
	float: right;
}

.triangulo {
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 3em solid white;
	border-right: 3em solid transparent;
	border-left: 3em solid transparent;
}

 /* SECTION HITS */

.hits {
	background: @cor-cinza;
	padding: 0px 0 65px 0;
	margin: 0 auto;
}

.conteudo-hits {
	margin: 0 auto;
	width: 180px;
	padding-top: 40px;
}

.caixa {
	border: 2px solid;
	border-color: darken(@cor-cinza, 5);
	border-radius: 5px;
	background: white;
	color: @cor-chaordic;

}

/* FOOTER */

footer {
	padding: 15px;
}

.icone-social {
	margin: 0 10px;
}

.icones-sociais {
	float: right;
	margin-top: -2px;
}

@media only screen and (min-width: 768px) {
	footer {
		padding: 15px 180px 15px 180px;
	}
	.icones-sociais {
		margin-top: 0;
	}
}

/* TOAST */
.toast {
	font-family: "Roboto", sans-serif;
    visibility: hidden;
    background-color: @cor-apoio;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 17px;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: @toast-mobile-vertical; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: @toast-mobile-vertical; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: @toast-mobile-vertical; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: @toast-mobile-vertical; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (min-width: 767px) {
	.toast {
		background: @cor-laranja;
		bottom: @toast-position-vertical;
		right: @toast-position-horizontal;
		left: auto;
	}
	@-webkit-keyframes fadein {
	    from {bottom: 0; opacity: 0;} 
	    to {bottom: @toast-position-vertical; opacity: 1;}
	}

	@keyframes fadein {
	    from {bottom: 0; opacity: 0;}
	    to {bottom: @toast-position-vertical; opacity: 1;}
	}

	@-webkit-keyframes fadeout {
	    from {bottom: @toast-position-vertical; opacity: 1;} 
	    to {bottom: 0; opacity: 0;}
	}

	@keyframes fadeout {
	    from {bottom: @toast-position-vertical; opacity: 1;}
	    to {bottom: 0; opacity: 0;}
	}
}